body {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1920px;
    border: 2px solid red;
}

.accordion {
    width: 700px;
    margin: 0px auto;
    border: 2px solid black;
    cursor: pointer;
}

.block {
    border: 2px solid blue;
    width: 500px;
    height: auto;
    margin: 0px auto;
}

label {
    cursor: pointer;
}

.imgs1 , .imgs2 {
    display: block;
    width: 0px;
    opacity: 1;
    transition: all 0.5s;
}

.block :hover ~ .imgs1 {
    width: 150px;
}

.block :hover ~ .imgs2 {
    width: 150px;
}

.icon {
    opacity: 0;
}

.wrapper :hover .icon {
    opacity: 1;
    transition: all 0.5s;
}

.block :hover ~ .icon {
    transform: rotate(90deg);
}

.wrapper :hover label {
    color: blue;
}

input[type='radio'] {
    position: absolute;
    width: 0px;
    height: 0px;
}

.accordion :active {
    opacity: 0.8;
}

input:checked + .icon {
    transform: rotate(90deg);
}

input:checked ~ .imgs1 {
    width: 150px;
}

input:checked ~ .imgs2 {
    width: 150px;
}