body {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1920px;
    border: 2px solid red;
}

.accordion {
    width: 700px;
    margin: 0px auto;
    border: 2px solid black;
    cursor: pointer;
}

.block {
    border: 2px solid blue;
    width: 500px;
    height: auto;
    margin: 0px auto;
}

label {
    cursor: pointer;
}

.imgs1 , .imgs2 {
    width: 0px;
    opacity: 1;
    transition: all 0.5s;
}

.block :hover ~ .imgs1 {
    width: 150px;
}

.block :hover ~ .imgs2 {
    width: 150px;
}

.wrapper :hover .text-lab ::after {
    content: '>';
}


.wrapper .block :hover ~ .text-lab ::after {
    content: 'q';
    transform: rotate(0.5turn);
}

input[type='radio'] {
    width: 0px;
    height: 0px;
}

input:checked + .imgs1 {
    width: 150px;
}


input:checked + .imgs2 {
    width: 150px;
}